#process {
  .container__lg {
    svg {
      margin-top: 20px;
      z-index: -1;
    }
  }
  .process {
    margin-top: -300px;
    padding-bottom: 150px;
    h1 {
      color: #22343d;
      text-align: center;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 16px;
    }
    p {
      color: #22343d;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
    }
    button {
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 4px;
      background: #02897a;
      padding: 14px 24px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin-top: 24px;

    }
    &__first__item {
      padding: 24px;
      padding-top: 32px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 900px) {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
        width: 100%;
      }
      &__card {
        display: flex;
        align-items: center;
        gap: 16px;
        .comment-1 {
          border-radius: 26.5px;
          background: #fff;
          box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
          padding: 14px 24px;
        }
      }
    }
  }
}
